body{
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
	height: 100%;
}

.head {
    background: #46B29E;
    height: 10%;
    width: 100%;
    text-align: center;
}

.head p {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.logo{
    width: 30%;
}

.isihasil {
    margin-top: 2%;
    padding: 20px;
    border: 3px dashed #46B29E;
    border-radius: 8px;
    font-size: 25px;
    background-color: white;
    display: block;
}

.isihasil span {
    display: inline-block;
    padding: 5px;
    font-size: 21px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 10%;
}

.isihasil select {
    font-size: 21px;
    width: auto;
}

table {
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 21px;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #334E5C;
    color: white;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
}

.hps {
    cursor: pointer;
}

.hps:hover {
    cursor: pointer;
    background-color: #19222a;
    color: white;
}

.isihasil div:hover {
    background-color: #19222a;
}

.isihasil div {
    margin-top: 20px;
    background-color: #46B29E;
    cursor: pointer;
    width: 15%;
    margin-top: 20px;
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.center{
    margin-top: 5%;
}

.benar {
    background-color: #00FF00;
    color: white;
}

.salah {
    background-color: red;
    color: white;
}

@media(max-width: 430px) {
    table {
        width: auto;
        font-size: 12px;
    }

    .isihasil {
        padding: 0;
        width: auto;
        font-size: 18px;
    }

    .isihasil span {
        width: auto;
    }

    .latarhasil {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

    .head {
        height: 5%;
    }

    .head p {
        font-size: 20px;
    }

    .logo {
        width: 50%;
    }

    .isihasil select {
        font-size: 21px;
        width: auto;
        margin: 10px;
        display: flex;
    }

    center{
        padding-top: 20px;
    }
}